// Imports

@import 'reset';
@import 'fontface'; // Hacked Bourbon font goodies
@import 'fonts';
@import 'vars';

// Mixins

/// New Breakpoint
@mixin breakpoint($point) {
  @if $point == small-screen-up {
    @media (min-width: $small-screen) { @content; }
  }
  @else if $point == medium-screen-up {
    @media (min-width: $medium-screen) { @content; }
  }
  @else if $point == large-screen-up {
    @media (min-width: $large-screen) { @content; }
  }
  @else if $point == extra-large-screen-up {
    @media (min-width: $extra-large-screen) { @content; }
  }
}

/// Aspect Ratio
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: inline-block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Breakpoints

$small-screen: 400px;
$medium-screen: 700px;
$large-screen: 800px;
$extra-large-screen: 1600px;

// Global

html {
  min-height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $untitled;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: $black;
  -webkit-font-smoothing: antialiased;
  ::selection {
    background: $black;
    color: $white;
  }
}

// Spacing

.mar-top-8 {
  margin-top: 8px;
}

.mar-top-16 {
  margin-top: 16px;
}

.mar-top-24 {
  margin-top: 24px;
}

.mar-top-48 {
  margin-top: 48px;
}

.mar-bot-8 {
  margin-bottom: 8px;
}

.mar-bot-16 {
  margin-bottom: 16px;
}

.mar-bot-24 {
  margin-bottom: 24px;
}

.mar-bot-48 {
  margin-bottom: 48px;
}

// Design











